.nav {
	display: flex;
	align-items: center;
	box-shadow: var(--main-box-shadow);
	background-color: var(--main-background-color);
	padding: 0 16px;
	height: 55px;
	margin-bottom: 20px;
}

.navTitle {
	font-size: 20px;
	font-weight: bold;
	color: var(--main-font-color);
}
